<div class="form_wrapper">
  <ol class="breadcrumb">
    <%= render_breadcrumbs tag: :li, separator: '' %>
  </ol>
  <%= simple_form_for [:manage, @map_layer], html: {class: 'form-vertical' } do |f| %>
    <div class="form-group">
      <%= f.input :title %>
    </div>
    <div class="form-group">
      <%= f.input :icon, :as => :file %>
      <%= image_tag @map_layer.icon_url, class: 'preview_image' %>
    </div>
    <div class="form-group">
      <%= f.input :hover_icon, :as => :file %>
      <%= image_tag @map_layer.hover_icon_url, class: 'preview_image' %>
    </div>
    <%= f.submit 'Сохранить', class: "pull-right" %>
  <% end %>
</div>

