<div class="row index_wrapper">
  <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3">
    <ul class="nav nav-pills nav-stacked">
      <%= content_tag :li, link_to('Все слои', manage_map_layers_path), class: highlight_layer %>
      <% @map_layers.each do |map_layer| %>
        <%= content_tag :li, class: highlight_layer(map_layer) do%>
          <%= link_to  manage_map_layers_path(map_layer: map_layer.slug) do %>
            <%= map_layer.title %>
            <span><%= image_tag map_layer.icon_url %></span>
            <span><%= image_tag map_layer.hover_icon_url %></span>
          <% end %>
          <a class="dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false">
            Выберите действие <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Изменить", edit_manage_map_layer_path(map_layer) %></li>
            <li><%= link_to "Удалить", manage_map_layer_path(map_layer), :method => :delete, confirm: 'Вы уверены?' %></li>
          </ul>
        <% end %>
    <% end %>
    <li class="layer">
      <%= link_to new_manage_map_layer_path do %>
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        <span>Новый слой</span>
      <% end %>
    </li>
  </ul>
  </div>
  <div class="col-lg-9 col-md-9 col-xs-9 col-sm-9">
    <div class="map_wrapper" data-latitude='56.488611121111' data-longitude='84.952222232222'>
      <div class="map"></div>
    </div>
  </div>
</div>
