<% content_for :content do %>
  <div class='content_wrapper index row'>

    <div class="content_side col-lg-12 col-md-12 col-sm-12 col-xs-12 road_map_page_wrapper">

      <div class='header row'>
        <div class="header_wrapper col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <%= content_tag :h1, I18n.t('road_map'), :class => 'pull-left' %>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <% if locale.eql?(:ru) %>
            <div class="map_layer_nav">
              <% map_layer_nav.each do |key,value| %>
                <div class="map_layer_nav_option">
                  <%= check_box_tag key,value, false, class: "js-road-map-nav" %>
                  <%= label_tag key, value %>
                </div>
              <% end %>
            </div>
          <% end %>
          <div class='nav noindex'>
            <%= render_navigation(road_map_navigation) %>
          </div>
          <div class="table-responsive">

            <table class='table table-hover js-table'>
              <thead>
                <th><%= I18n.t('table_title') %></th>
                <th><%= I18n.t('table_doc') %></th>
                <th><%= I18n.t('table_period') %></th>
                <th><%= I18n.t('table_performer') %></th>
              </thead>
              <tbody>
                <% @entries.each do |type, events| %>
                  <% events.each do |event| %>
                    <tr class="<%= "js-#{event.map_layer.try(:root).try(:slug)}" if event.map_layer %>">
                      <td class="<%= event.map_layer.try(:slug) %> <%= type %>">
                        <p><%= event.title %></p>
                        <p class='map_layer_title hidden-xs'><%= event.map_layer.try(:title) %></p>
                      </td>
                      <td><p><%= event.document_type %></p></td>
                      <td><p><%= human_term(event) %></p></td>
                      <td><p><%= event.performer %></p></td>
                    </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
