<div class='col-xs-offset-2 col-xs-8 devise-form'>
  <h2><%= t 'devise.signs.set_password_after_invitation' %></h2>

  <%= simple_form_for resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put, class: "form-horizontal" }, wrapper: :horizontal_form do |f| %>
    <%= f.hidden_field :invitation_token %>

    <%= f.input :password %>
    <%= f.input :password_confirmation %>

    <%= f.button :submit, t("devise.buttons.set_password"), class: "pull-right btn-sm btn-success" %>
  <% end %>

</div>
