<% content_for :content do %>
  <div class='content_wrapper index'>

    <div class="content_side">

      <%= content_tag :div, render("regions/#{@breadcrumbs.type.underscore}", :object => @breadcrumbs.content), :class => 'breadcrumbs noindex' if @breadcrumbs %>

      <% if @content_first %>
        <div class='header'>
          <%= content_tag :h1, @content_first.part_title %>
        </div>

        <%= render_partial_for_region(@content_first) %>
      <% end %>

    </div>

    <div class='barley_break_nav noindex'>
      <%= content_tag :div, render("regions/#{@content_navigation.type.underscore}", :object => @content_navigation.content), :class => 'navigation' if @content_navigation %>
      <p class="redirect_back">
        <a href="/ru/innovatsionnaya-infrastruktura/">Вернуться к игре</a>
      </p>
    </div>

  </div>
<% end %>

<%= render :template => 'layouts/application' %>
