<% content_for :head_rss_link do %>
  <% unless %w(photo_album_list_part organization_list_part).include?(@content_first.template) %>
    <%= auto_discovery_link_tag(:rss, @content_first.content.rss_link, {:title => @page_title}) if !@content_first.content.blank? && @content_first.content.rss_link %>
  <% end %>
<% end if @content_first %>

<% content_for :content do %>
  <div class='content_wrapper index row'>

    <div class='content_nav noindex col-xs-12 visible-xs'>

      <%= content_tag :div, render("regions/#{@content_navigation.type.underscore}", :object => @content_navigation.content), :class => 'navigation' if @content_navigation %>
      <%= content_tag :div, yield(:more_like_this), :class => 'more_like_this' if content_for?(:more_like_this) %>

    </div>

    <% if @content_navigation || content_for?(:more_like_this) %>
    <div class="content_side col-lg-10 col-md-9 col-sm-8 col-xs-12">
    <% else %>
      <div class="content_side col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <% end %>

      <%= content_tag :div, render("regions/#{@breadcrumbs.type.underscore}", :object => @breadcrumbs.content), :class => 'breadcrumbs noindex' if @breadcrumbs %>

      <% if @content_first %>
        <% unless %w(belief_item_part).include?(@content_first.template) && @content_first %>
          <div class='header row'>
            <% if @content_header_navigation %>
              <div class="header_wrapper col-lg-6 col-md-6 col-sm-5 col-xs-12">
                <%= content_tag :h1, @content_first.part_title, :class => 'pull-left part_header' if @content_first && !@content_first.content.items.blank? %>
              </div>

              <div class="nav_wrapper col-lg-6 col-md-6 col-sm-7 col-xs-12">
                <% if !@content_first.content.blank? && !%w(photo_album_list_part organization_list_part).include?(@content_first.template) && @content_first.try(:content).try(:rss_link) %>
                  <div class="rss noindex pull-right hidden-xs">
                    <%= link_to 'RSS', @content_first.content.rss_link, :title => I18n.t('rss_title') %>
                  </div>
                <% end %>

                <div class='nav noindex pull-right'>
                  <%= render "regions/#{@content_header_navigation.type.underscore}", :object => @content_header_navigation.content if @content_header_navigation %>
                </div>
              </div>

            <% else %>
              <% if !@content_first.content.blank? && !%w(photo_album_list_part organization_list_part).include?(@content_first.template) && @content_first.try(:content).try(:rss_link) %>
                <div class="header_wrapper col-lg-10 col-md-10 col-sm-10 col-xs-12">
              <% else %>
                <div class="header_wrapper col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <% end %>
                <%= content_tag :h1, @content_first.part_title, :class => 'pull-left part_header' if @content_first && @content_first.content.present? && !@content_first.content.items.blank? %>
              </div>

              <div class="nav_wrapper col-lg-2 col-md-2 col-sm-2 col-xs-12">
                <% if !@content_first.content.blank? && !%w(photo_album_list_part organization_list_part).include?(@content_first.template) && @content_first.try(:content).try(:rss_link) %>
                  <div class="rss noindex pull-right hidden-xs">
                    <%= link_to 'RSS', @content_first.content.rss_link, :title => I18n.t('rss_title') %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>

        <%= render_partial_for_region(@content_first) %>

        <% if @content_second && @content_second.template == 'interview_list_part' %>
          <%= content_tag :h1, @content_second.part_title, :class => 'pull-left part_header' %>
          <%= render_partial_for_region(@content_second) %>
        <% end %>

      <% end %>

    </div>

    <% if @content_navigation || content_for?(:more_like_this) %>
      <div class='content_nav noindex col-lg-2 col-md-3 col-sm-4 hidden-xs'>
        <%= content_tag :div, render("regions/#{@content_navigation.type.underscore}", :object => @content_navigation.content), :class => 'navigation' if @content_navigation %>
        <%= content_tag :div, yield(:more_like_this), :class => 'more_like_this' if content_for?(:more_like_this) %>
      </div>
    <% end %>

  </div>
<% end %>
