<% content_for :content do %>

  <% if @news_list && (@news_list.response_status == 200 || !@news_list.response_status?) %>
    <div class='row news_list_wrapper'>

      <% if locale.eql?(:ru) %>
        <h1 class='pull-left'><a href='/ru/press-tsentr/novosti'><%= @news_list.part_title %></a></h1>
      <% end %>

      <% if locale.eql?(:en) %>
        <h1 class='pull-left'><a href='/en/press-centre/news'><%= @news_list.part_title %></a></h1>
      <% end %>

      <ul class='nav nav-tabs pull-right news_navigation'>
        <% if locale.eql?(:ru) %>
          <li><a href='/ru/press-tsentr/novosti/v-mire'>В мире</a></li>
          <li><a href='/ru/press-tsentr/novosti/v-rossii'>В России</a></li>
          <li class='active'><a href='/ru/press-tsentr/novosti/v-tomske'>В Томске</a></li>
        <% end %>
        <% if locale.eql?(:en) %>
          <li class='active'><a href='/en/press-centre/news'><%= @news_list.part_title %></a></li>
        <% end %>
      </ul>

      <div class='news_container col-lg-12 col-md-12 col-sm-12 col-xs-12'>
        <div class='inner_wrapper row'>
          <div class='picture col-lg-6 col-md-6 col-sm-6 col-xs-12'>
            <% first_news = @news_list.content.items.first %>
            <div class='img'><%= image_tag first_news.images.first.thumbnail.url, :alt => first_news.images.first.thumbnail.description, :class => 'img-responsive' %></div>
            <div class='description'>
              <p class='text'><%= link_to main_news_annotation(first_news.annotation), first_news.link %></p>
              <p class='date'>
                <%= l Date.parse(first_news.since), :format => :custom %>
                <span class='time'>
                  <%= l Time.parse(first_news.since), :format => :custom %>
                </span>
              </p>
            </div>
          </div>
          <div class='news_list col-lg-6 col-md-6 col-sm-6 col-xs-12'>
            <% if @news_list.content.items.many? %>
              <ul>
                <% @news_list.content.items.each do | news | %>
                  <li>
                    <p class='title'><%= link_to news.title, news.link %></p>
                    <p class='image'><%= image_tag_for(news.images.first.thumbnail) %></p>
                    <p class='annotation'><%= link_to main_news_annotation(news.annotation), news.link %></p>
                    <p class='date'>
                      <%= l Date.parse(news.since), :format => :custom %>
                      <span class='time'>
                        <%= l Time.parse(news.since), :format => :custom %>
                      </span>
                    </p>
                  </li>
                <% end %>
              </ul>
            <% end %>
            <% if locale.eql?(:ru) %>
              <p class='all_news'><a href='/ru/press-tsentr/novosti/v-tomske'>Все новости</a></p>
            <% end %>
            <% if locale.eql?(:en) %>
              <p class='all_news'><a href='/en/press-centre/news'>All news</a></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% if @interview_list && (@interview_list.response_status == 200 || !@interview_list.response_status?) %>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

      <div class='interviews_section index row'>
        <% if locale.eql?(:ru) %>
          <%= content_tag(:h1, link_to(@interview_list.part_title, "/ru/interview")) unless @interview_list.blank? %>
        <% end %>

        <% if locale.eql?(:en) %>
          <%= content_tag(:h1, link_to(@interview_list.part_title, "/en/analytic/interview-with-experts")) unless @interview_list.blank? %>
        <% end %>

        <div class='row interview_list'>
          <% @interview_list.content.items.each do | interview | %>
            <div class='col-lg-3  col-md-3  col-sm-6  col-xs-12 interview'>
              <% if interview.images.any? %>
                <div class="image">
                  <%= link_to image_tag(interview.images.first.thumbnail.url, :alt => interview.images.first.thumbnail.description, :class => 'img-responsive'), interview.link %>
                  <div class="stub"></div>
                </div>
              <% end %>
              <div class='description'>
                <%= raw interview.annotation %>
                <p class='title'><%= link_to interview.title, interview.link %></p>
                <p class='date'>
                  <%= l Date.parse(interview.since), :format => :custom %>
                  <span class='time'>
                    <%= l Time.parse(interview.since), :format => :custom %>
                  </span>
                </p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <div class='belief_section index'>
    <% if locale.eql?(:ru) %>
      <%= content_tag(:h1, link_to(@belief_list.part_title, "/ru/tochka-zreniya/mneniya-o-proekte/")) unless @belief_list.blank? %>
    <% end %>
    <% if locale.eql?(:en) %>
      <%= content_tag(:h1, link_to(@belief_list.part_title, "/en/viewpoint/opinions-of-the-project/")) unless @belief_list.blank? %>
    <% end %>
    <% if locale.eql?(:de) %>
      <%= content_tag(:h1, link_to(@belief_list.part_title, "/de/standpunkt/meinungen-zum-projekt/")) unless @belief_list.blank? %>
    <% end %>
    <% if locale.eql?(:fr) %>
      <%= content_tag(:h1, link_to(@belief_list.part_title, "/fr/point-de-vue/avis-sur-le-projet/")) unless @belief_list.blank? %>
    <% end %>
    <div class='two_column'>
      <% if @belief_list && (@belief_list.response_status == 200 || !@belief_list.response_status?) %>
        <% first = @belief_list.content.items.first %>
        <% second = @belief_list.content.items.second %>
        <% third = @belief_list.content.items.third %>
        <div class='belief'>
          <div class='photo first'>
            <%= link_to image_tag_for(first.images.first.thumbnail), first.link unless first.blank? %>
            <span class='triangle'></span>
          </div>
          <div class='description first'>
            <% unless first.blank? %>
              <p class='annotation'><%= link_to raw(truncate(first.title, :length => 120, :separator => ' ')), first.link, :title => raw(first.title) %></p>
            <% end %>
          </div>
          <div class='photo second'>
            <%= link_to image_tag_for(second.images.first.thumbnail), second.link unless second.blank? %>
            <span class='triangle'></span>
          </div>
          <div class='description second'>
            <% unless third.blank? %>
              <p class='annotation'><%= link_to raw(truncate(third.title, :length => 120, :separator => ' ')), third.link, :title => raw(third.title) %></p>
            <% end %>
          </div>
          <div class='photo third'>
            <%= link_to image_tag_for(third.images.first.thumbnail), third.link unless third.blank? %>
            <span class='triangle'></span>
          </div>
          <div class='description third'>
            <% unless second.blank? %>
              <p class='annotation'><%= link_to raw(truncate(second.title, :length => 120, :separator => ' ')), second.link, :title => raw(second.title) %></p>
            <% end %>
          </div>
        </div>
      <% end %>
      <div class='mediateka noindex'>
        <% if locale.eql?(:ru) %>
          <h2>Медиатека</h2>
          <div class='two_column'>
            <div class='video'>
              <% unless @last_video.blank? %>
                <% video = @last_video.content.items.first %>
                <div class='thumbnail'>
                  <%= link_to image_tag(video.video.thumb_normal, :size => '160x120', :alt => video.video.description), video.link %>
                </div>
                <p class='title'><%= link_to video.video.title, video.link %></p>
                <p class='date'>
                  <%= l Date.parse(video.video.date), :format => :custom %>
                  <span class='time'>
                    <%= l Time.parse(video.video.date), :format => :custom %>
                  </span>
                </p>
              <% end %>
              <p class='more'><a href='/ru/press-tsentr/videobank/'>Всё видео</a></p>
            </div>
            <div class='photo'>
              <% if !@last_photo.blank? && @last_photo.response_status == 200 %>
                <% photo = @last_photo.content.items.first %>
                <% if photo %>
                  <div class='thumbnail'>
                    <%= link_to album_thumbnail(photo.images.first.thumbnail), photo.link %>
                  </div>
                  <p class='title'><%= link_to photo.title, photo.link %></p>
                  <p class='date'>
                    <%= l Date.parse(photo.since), :format => :custom %>
                    <span class='time'>
                      <%= l Time.parse(photo.since), :format => :custom %>
                    </span>
                  </p>
                <% end %>
              <% end %>
              <p class='more'><a href='/ru/press-tsentr/fotobank/'>Всё фото</a></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class='calendar_section index'>
    <div class='calendar'>
      <%= render_partial_for_region(@event_list) %>
    </div>
  </div>

<% end %>

<%= render :template => 'layouts/application' %>
