<% content_for :content do %>

  <% unless @news_list.blank? %>
    <div class='news_section'>
      <ul class='nav'>
        <% if locale.eql?(:ru) %>
          <li><a href='/<%= locale %>/press-tsentr/novosti-innovatsiy/v-mire/'>В мире</a></li>
          <li><a href='/<%= locale %>/press-tsentr/novosti-innovatsiy/v-rossii/'>В России</a></li>
          <li class='selected'><a href='/<%= locale %>/press-tsentr/novosti-innovatsiy/v-tomske/'>В Томске</a></li>
        <% end %>
        <% if locale.eql?(:en) %>
          <li class='selected'><a href='/<%= locale %>/press-tsentr/novosti-innovatsiy/'><%= @news_list.part_title %></a></li>
        <% end %>
      </ul>
      <% if locale.eql?(:ru) %>
        <h1><a href='/<%= locale %>/press-tsentr/novosti-innovatsiy/v-tomske/'>Новости инноваций в Томске</a></h1>
      <% end %>
      <% if locale.eql?(:en) %>
        <h1><a href='/<%= locale %>/press-tsentr/novosti-innovatsiy/'><%= @news_list.part_title %></a></h1>
      <% end %>
      <div class='news_container'>
        <div class='inner_wrapper'>
          <div class='picture'>
            <% first_news = @news_list.content.items.first %>
            <div class='img'><%= image_tag_for(first_news.thumbnail) %></div>
            <div class='description'>
              <p class='text'><%= link_to main_news_annotation(first_news.annotation), first_news.link %></p>
              <p class='date'>
                <%= l DateTime.parse(first_news.since), :format => "%d %B %Y" %>
                <span class='time'>
                  <%= l DateTime.parse(first_news.since), :format => "%H:%M" %>
                </span>
              </p>
            </div>
          </div>
          <div class='news_list'>
            <% unless @news_list.blank? %>
              <ul>
                <% @news_list.content.items.each do | news | %>
                  <li>
                    <p class='title'><%= link_to news.title, news.link %></p>
                    <p class='image'><%= image_tag_for(news.thumbnail) %></p>
                    <p class='annotation'><%= link_to main_news_annotation(news.annotation), news.link %></p>
                    <p class='date'>
                      <%= l DateTime.parse(news.since), :format => "%d %B %Y" %>
                      <span class='time'>
                        <%= l DateTime.parse(news.since), :format => "%H:%M" %>
                      </span>
                    </p>
                  </li>
                <% end %>
              </ul>
            <% end %>
            <% if locale.eql?(:ru) %>
              <p class='all_news'><a href='/<%= locale %>/press-tsentr/novosti-innovatsiy/v-tomske/'>Все новости</a></p>
            <% end %>
            <% if locale.eql?(:en) %>
              <p class='all_news'><a href='/<%= locale %>/press-tsentr/novosti-innovatsiy/'>All news</a></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% unless @interview_list.blank? %>
    <div class='interviews_section'>
      <%= content_tag(:h1, link_to(@interview_list.part_title, "/#{ locale }/analiticheskie-materialy/intervyu-s-ekspertami/")) unless @interview_list.blank? %>
      <ul>
        <% @interview_list.content.items.each do | interview | %>
          <li>
            <% if interview.thumbnail %>
              <div class="image">
                <%= link_to image_tag_for(interview.thumbnail), interview.link %>
                <div class="stub"></div>
              </div>
            <% end %>
            <div class='description'>
              <%= raw interview.annotation %>
              <p class='title'><%= link_to interview.title, interview.link %></p>
              <p class='date'>
                <%= l DateTime.parse(interview.since), :format => "%d %B %Y" %>
                <span class='time'>
                  <%= l DateTime.parse(interview.since), :format => "%H:%M" %>
                </span>
              </p>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='belief_section'>
    <%= content_tag(:h1, link_to(@belief_list.part_title, "/#{ locale }/tochka-zreniya/mneniya-o-proekte/")) unless @belief_list.blank? %>
    <div class='two_column'>
      <% unless @belief_list.blank? %>
        <% first = @belief_list.content.items.first %>
        <% second = @belief_list.content.items.second %>
        <% third = @belief_list.content.items.third %>
        <div class='belief'>
          <div class='photo first'>
            <%= link_to image_tag_for(first.thumbnail), first.link %>
            <span class='triangle'></span>
          </div>
          <div class='description first'>
            <p class='annotation'><%= link_to raw(truncate(first.title, :length => 120, :separator => ' ')), first.link, :title => raw(first.title) %></p>
            <p class='date'><%= l DateTime.parse(first.since), :format => "%d %B %Y" %></p>
          </div>
          <div class='photo second'>
            <%= link_to image_tag_for(second.thumbnail), second.link %>
            <span class='triangle'></span>
          </div>
          <div class='description second'>
            <p class='annotation'><%= link_to raw(truncate(third.title, :length => 120, :separator => ' ')), third.link, :title => raw(third.title) %></p>
            <p class='date'><%= l DateTime.parse(third.since), :format => "%d %B %Y" %></p>
          </div>
          <div class='photo third'>
            <%= link_to image_tag_for(third.thumbnail), third.link %>
            <span class='triangle'></span>
          </div>
          <div class='description third'>
            <p class='annotation'><%= link_to raw(truncate(second.title, :length => 120, :separator => ' ')), second.link, :title => raw(second.title) %></p>
            <p class='date'><%= l DateTime.parse(second.since), :format => "%d %B %Y" %></p>
          </div>
        </div>
      <% end %>
      <div class='mediateka'>
        <% if locale.eql?(:ru) %>
          <h2>Медиатека</h2>
          <div class='two_column'>
            <div class='video'>
              <% unless @last_video.blank? %>
                <% video = @last_video.content.items.first %>
                <div class='thumbnail'>
                  <%= link_to image_tag(video.video.thumb_normal, :size => '160x120', :alt => video.video.description), video.link %>
                </div>
                <p class='title'><%= link_to video.video.title, video.link %></p>
                <p class='date'><%= l DateTime.parse(video.video.date), :format => "%d %B %Y %H:%M" %></p>
              <% end %>
              <p class='more'><a href='/ru/press-tsentr/videobank/'>Всё видео</a></p>
            </div>
            <div class='photo'>
              <div class='thumbnail'>
                <a href='#'><img src='/assets/fake/photo.jpg' alt='' width='176' height='116'/></a>
              </div>
              <p class='title'>Презентация &laquo;Машинстройкомплекта&raquo; в Томской области</p>
              <p class='date'>23 октября</p>
              <p class='more'><a href='#'>Всё фото</a></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class='calendar_section'>
    <div class='calendar'>
      <%= render_partial_for_region(@event_list) %>
    </div>
    <div class='voting'>
      <% if locale.eql?(:ru) %>
        <h1>Опрос</h1>
        <script type="text/javascript">var WebAnketaParams = ["64wkae9k5xhk4e9s6xh3gc0/ru", "Что вы ожидаете от реализации проекта «ИНОТомск`2020»?"];
          document.write(unescape("%3Cscript src='http"+(/^https:\/\//.test(document.URL) ? "s" : "")+"://webanketa.com/direct/js/embed.js' type='text/javascript'>%3C/script>"));
          </script><noscript><a href="http://webanketa.com/forms/64wkae9k5xhk4e9s6xh3gc0/ru/" target="_blank">Что вы ожидаете от реализации проекта «ИНОТомск`2020»?</a></noscript>
          <p><%= link_to "Результаты голосования", poll_path(:code => '64wkae9k5xhk4e9s6xh3gc0') %></a></p>
      <% end %>
    </div>
  </div>

<% end %>

<%= render :template => 'layouts/application' %>
