<% content_for :targets do %>
<% end %>

<% content_for :content do %>

  <div class='news_section'>
    <ul class='nav'>
      <li><a href='/ru/press-tsentr/novosti-innovatsiy/v-mire/'>В мире</a></li>
      <li><a href='/ru/press-tsentr/novosti-innovatsiy/v-rossii/'>В России</a></li>
      <li class='selected'><a href='/ru/press-tsentr/novosti-innovatsiy/v-tomske/'>В Томске</a></li>
    </ul>
    <h1><a href='/ru/press-tsentr/novosti-innovatsiy/v-tomske/'>Новости инноваций в Томске</a></h1>
    <div class='news_container'>
      <div class='inner_wrapper'>
        <div class='picture'>
          <% first_news = @news_list.content.items.first %>
          <div class='img'><%= image_tag_for(first_news.thumbnail) %></div>
          <div class='description'>
            <p class='text'><%= link_to main_news_annotation(first_news.annotation), first_news.link %></p>
            <p class='date'>
              <%= l DateTime.parse(first_news.since), :format => "%d %B %Y" %>
              <span class='time'>
                <%= l DateTime.parse(first_news.since), :format => "%H:%M" %>
              </span>
            </p>
          </div>
        </div>
        <div class='news_list'>
          <% unless @news_list.blank? %>
            <ul>
              <% @news_list.content.items.each do | news | %>
                <li>
                  <p class='title'><%= link_to news.title, news.link %></p>
                  <p class='image'><%= image_tag_for(news.thumbnail) %></p>
                  <p class='annotation'><%= link_to main_news_annotation(news.annotation), news.link %></p>
                  <p class='date'>
                    <%= l DateTime.parse(news.since), :format => "%d %B %Y" %>
                    <span class='time'>
                      <%= l DateTime.parse(news.since), :format => "%H:%M" %>
                    </span>
                  </p>
                </li>
              <% end %>
            </ul>
          <% end %>
          <p class='all_news'><a href='/ru/press-tsentr/novosti-innovatsiy/v-tomske/'>Все новости</a></p>
        </div>
      </div>
    </div>
  </div>

  <div class='interviews_section'>
    <h1><a href='/ru/analiticheskie-materialy/intervyu-s-ekspertami/'>Интервью с экспертами</a></h1>
    <% unless @interview_list.blank? %>
      <ul>
      <% @interview_list.content.items.each do | interview | %>
        <li>
          <% if interview.resized_image_url %>
            <div class="image">
              <%= link_to image_tag_for(interview.thumbnail), interview.link %>
              <div class="stub"></div>
            </div>
          <% end %>
          <div class='description'>
            <%= raw interview.annotation %>
            <p class='title'><%= link_to interview.title, interview.link %></p>
            <p class='date'>
              <%= l DateTime.parse(interview.since), :format => "%d %B %Y" %>
              <span class='time'>
                <%= l DateTime.parse(interview.since), :format => "%H:%M" %>
              </span>
            </p>
          </div>
        </li>
      <% end %>
      </ul>
    <% end %>
  </div>

  <div class='belief_section'>
    <h1><a href='/ru/tochka-zreniya/mneniya-o-proekte'>Мнения о проекте</a></h1>
    <div class='two_column'>
      <% unless @belief_list.blank? %>
        <% first = @belief_list.content.items.first %>
        <% second = @belief_list.content.items.second %>
        <% third = @belief_list.content.items.third %>
        <div class='belief'>
          <div class='photo first'>
            <%= link_to image_tag_for(first.thumbnail), first.link %>
            <span class='triangle'></span>
          </div>
          <div class='description first'>
            <p class='annotation'><%= link_to truncate(first.title, :length => 130, :separator => ' '), first.link %></p>
            <p class='date'><%= l DateTime.parse(first.since), :format => "%d %B %Y" %></p>
          </div>
          <div class='photo second'>
            <%= link_to image_tag_for(second.thumbnail), second.link %>
            <span class='triangle'></span>
          </div>
          <div class='description second'>
            <p class='annotation'><%= link_to truncate(third.title, :length => 130, :separator => ' '), third.link %></p>
            <p class='date'><%= l DateTime.parse(third.since), :format => "%d %B %Y" %></p>
          </div>
          <div class='photo third'>
            <%= link_to image_tag_for(third.thumbnail), third.link %>
            <span class='triangle'></span>
          </div>
          <div class='description third'>
            <p class='annotation'><%= link_to truncate(second.title, :length => 130, :separator => ' '), second.link %></p>
            <p class='date'><%= l DateTime.parse(second.since), :format => "%d %B %Y" %></p>
          </div>
        </div>
      <% end %>
      <div class='mediateka'>
        <h2>Медиатека</h2>
        <div class='two_column'>
          <div class='video'>
            <% unless @last_video.blank? %>
              <% video = @last_video.content.items.first %>
              <div class='thumbnail'>
                <%= link_to image_tag(video.video.thumb_normal, :size => '160x120', :alt => video.video.description), video.link %>
              </div>
              <p class='title'><%= link_to video.video.title, video.link %></p>
              <p class='date'><%= l DateTime.parse(video.video.date), :format => "%d %B %Y %H:%M" %></p>
            <% end %>
            <p class='more'><a href='/ru/press-tsentr/videobank/'>Всё видео</a></p>
          </div>
          <div class='photo'>
            <div class='thumbnail'>
              <a href='#'><img src='/assets/fake/photo.jpg' alt='' width='176' height='116'/></a>
            </div>
            <p class='title'>Презентация &laquo;Машинстройкомплекта&raquo; в Томской области</p>
            <p class='date'>23 октября</p>
            <p class='more'><a href='#'>Всё фото</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class='calendar_section'>
    <div class='calendar'>
      <h1><a href='#'>Календарь мероприятий</a></h1>
      <div class='left'>
        <a href='#'>назад</a>
      </div>
      <div class='right'>
        <a href='#'>вперёд</a>
      </div>
      <div class='timeline'>
        <div class='event'>
          <p class='day'>14 августа - 15 сентября</p>
          <p class='year'>2012г.</p>
          <p class='separator'>&nbsp;</p>
          <p class='title'>
            <a href='#'>Молодёжный форум You LEAD</a>
          </p>
        </div>
        <div class='event'>
          <p class='day'>14-15 августа</p>
          <p class='year'>2012г.</p>
          <p class='separator'>&nbsp;</p>
          <p class='title'>
            <a href='#'>Собрание акционеров Восток Газпром</a>
          </p>
        </div>
        <div class='event'>
          <p class='day'>14-15 августа</p>
          <p class='year'>2012г.</p>
          <p class='separator'>&nbsp;</p>
          <p class='title'>
            <a href='#'>В Томске пройдёт Форум бизнес-лидеров</a>
          </p>
        </div>
        <div class='event'>
          <p class='day'>14-15 августа</p>
          <p class='year'>2012г.</p>
          <p class='separator'>&nbsp;</p>
          <p class='title'>
            <a href='#'>Всероссийский студенческий форум</a>
          </p>
        </div>
      </div>
    </div>
    <div class='voting'>
      <h1>Опрос</h1>
      <script type="text/javascript">var WebAnketaParams = ["64wkae9k5xhk4e9s6xh3gc0/ru", "Что вы ожидаете от реализации проекта «ИНОТомск`2020»?"];
        document.write(unescape("%3Cscript src='http"+(/^https:\/\//.test(document.URL) ? "s" : "")+"://webanketa.com/direct/js/embed.js' type='text/javascript'>%3C/script>"));
      </script><noscript><a href="http://webanketa.com/forms/64wkae9k5xhk4e9s6xh3gc0/ru/" target="_blank">Что вы ожидаете от реализации проекта «ИНОТомск`2020»?</a></noscript>
    </div>
  </div>

<% end %>

<%= render :template => 'layouts/application' %>
