<% content_for :content do %>

  <div class='news_section'>
    <ul class='nav'>
      <li><a href='#'>В мире</a></li>
      <li><a href='#'>В России</a></li>
      <li class='selected'><a href='#'>В Томске</a></li>
    </ul>
    <h1><a href='#'>Новости</a></h1>
    <div class='news_container'>
      <div class='inner_wrapper'>
        <div class='picture'>
          <div class='img'><img src='/assets/fake/caltonhilledinburgh.jpg' alt='' width='459' height='344' /></div>
          <div class='description'>
            <p class='text'>Структурный голод столь же важен для жизни, как и архетип понимает возрастной экстремум функции, откуда следует доказываемое равенство.</p>
            <p class='date'>11 ноября 2011</p>
          </div>
        </div>
        <div class='news_list'>
          <ul>
            <li>
              <p class='title'><a href='#'>Власти Томской области рассчитывают в сентябре определиться с повесткой XV форума INNOVUS</a></p>
              <p class='date'>16 января 2012</p>
            </li>
            <li>
              <p class='title'><a href='#'>Аномия решительно упорядочивает действительный контрпример, явно демонстрируя всю чушь вышесказанного</a></p>
              <p class='date'>16 января 2012</p>
            </li>
            <li>
              <p class='title'><a href='#'>Конкурс на выделение грантов по проекту &laquo;Инновационное внедрение &ndash; школа успеха молодёжи&raquo;</a></p>
              <p class='date'>16 января 2012</p>
            </li>
            <li>
              <p class='title'><a href='#'>Векторное поле осознаёт интеракционизм, что несомненно приведет нас к истине</a></p>
              <p class='date'>13 января 2012</p>
            </li>
          </ul>
          <p class='all_news'><a href='#'>Все новости</a></p>
        </div>
      </div>
    </div>
  </div>

  <div class='interviews_section'>
    <h1><a href='#'>Интервью</a></h1>
    <div class='two_column'>
      <div class='person left'>
        <div class='photo'>
          <a href='#'><img src='/assets/fake/prohorov.jpg' alt='' width='150' height='150' /></a>
        </div>
        <div class='interview'>
          <h1><a href='#'>Очевидное невероятное</a></h1>
          <div class='annotation'>
            <p>Миллиардер Михаил Прохоров, заявивший о намерении баллотироваться в президенты РФ, <a href='http://mdp2012.ru/program'>опубликовал в пятницу на своем сайте предвыборную программу</a>.</p>
            <p>Ранее часть своих предложений он уже озвучил в тезисах к программе, опубликованных 29 декабря 2011 года.</p>
          </div>
          <div class='date'>20 января 2012</div>
        </div>
      </div>
      <div class='person right'>
        <div class='photo'>
          <a href='#'><img src='/assets/fake/yavlinskiy.jpg' alt='' width='150' height='150' /></a>
        </div>
        <div class='interview'>
          <h1><a href='#'>Ситуация с подписями</a></h1>
          <div class='annotation'>
            <p>Один из лидеров партии &laquo;Яблоко&raquo; Григорий Явлинский в своем блоге в ЖЖ объяснил &laquo;что произошло с подписями&raquo;, из-за которых ЦИК РФ отказал ему в регистрации в качестве президента РФ.</p>
          </div>
          <div class='date'>30 января 2012</div>
        </div>
      </div>
    </div>
  </div>

  <div class='belief_section'>
    <h1><a href='#'>Точки зрения</a></h1>
    <div class='two_column'>
      <div class='belief'>
        <div class='photo first'>
          <img src='/assets/fake/medvedev.jpg' alt='' width='150' height='150' />
          <span class='triangle'></span>
        </div>
        <div class='description first'>
          <p class='annotation'><a href='#'>Представим себе подобную ситуацию где-нибудь на Рублёво-Успенском шоссе...</a></p>
          <p class='date'>1 апреля</p>
        </div>
        <div class='photo second'>
          <img src='/assets/fake/chubays.jpg' alt='' width='150' height='150' />
          <span class='triangle'></span>
        </div>
        <div class='description second'>
          <p class='annotation'><a href='#'>Давайте, ребята, работайте шибче, Россия в опасности! Если что, так вот, а приглядишься и нате...</a></p>
          <p class='date'>15 марта</p>
        </div>
        <div class='photo third'>
          <img src='/assets/fake/kress.jpg' alt='' width='150' height='150' />
          <span class='triangle'></span>
        </div>
        <div class='description third'>
          <p class='annotation'><a href='#'>Я бы не рекомендовал впечатлительным ходить на тайные встречи чекистов. Опасно это для психики...</a></p>
          <p class='date'>21 марта</p>
        </div>
      </div>
      <div class='mediateka'>
        <h2><a href='#'>Медиатека</a></h2>
        <div class='two_column'>
          <div class='video'>
            <div class='thumbnail'>
              <a href='#'><img src='/assets/fake/video.jpg' alt='' width='160' height='120' /></a>
            </div>
            <p class='title'>Сколково: новый век</p>
            <p class='date'>10 августа, ТВ2, Часпик</p>
            <p class='more'><a href='#'>Всё видео</a></p>
          </div>
          <div class='photo'>
            <div class='thumbnail'>
              <a href='#'><img src='/assets/fake/photo.jpg' alt='' width='176' height='116'/></a>
            </div>
            <p class='title'>Презентация &laquo;Машинстройкомплекта&raquo; в Томской области</p>
            <p class='date'>23 октября</p>
            <p class='more'><a href='#'>Всё фото</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class='calendar_section'>
    <div class='calendar'>
      <h1><a href='#'>Календарь мероприятий</a></h1>
      <div class='left'>
        <a href='#'>назад</a>
      </div>
      <div class='right'>
        <a href='#'>вперёд</a>
      </div>
      <div class='timeline'>
        <div class='event'>
          <p class='day'>14 августа - 15 сентября</p>
          <p class='year'>2012г.</p>
          <p class='separator'>&nbsp;</p>
          <p class='title'>
            <a href='#'>Молодёжный форум You LEAD</a>
          </p>
        </div>
        <div class='event'>
          <p class='day'>14-15 августа</p>
          <p class='year'>2012г.</p>
          <p class='separator'>&nbsp;</p>
          <p class='title'>
            <a href='#'>Собрание акционеров Восток Газпром</a>
          </p>
        </div>
        <div class='event'>
          <p class='day'>14-15 августа</p>
          <p class='year'>2012г.</p>
          <p class='separator'>&nbsp;</p>
          <p class='title'>
            <a href='#'>В Томске пройдёт Форум бизнес-лидеров</a>
          </p>
        </div>
        <div class='event'>
          <p class='day'>14-15 августа</p>
          <p class='year'>2012г.</p>
          <p class='separator'>&nbsp;</p>
          <p class='title'>
            <a href='#'>Всероссийский студенческий форум</a>
          </p>
        </div>
      </div>
    </div>
    <div class='voting'>
      <h1>Опрос</h1>
      <p class='question'>Каким на Ваш взгляд должен быть ИНО Томск 2020г.?</p>
      <%= semantic_form_for :answers do | form | %>
        <%= form.inputs do %>
          <%= form.input :ansver, :as => :radio, :label => false,
            :collection => {
            'Как силиконовая долина' => 'uno',
            'Ничего не изменится' => 'dos',
            'Затрудняюсь я с вами тут' => 'tres' } %>
        <% end %>
        <%= form.actions do %>
          <%= form.action :submit, :label => 'Голосовать' %>
        <% end %>
      <% end %>
      <p class='link'><a href='#'>Результаты</a></p>
      <p class='link'><a href='#'>Голосование по другим вопросам</a></p>
    </div>
  </div>

<% end %>

<%= render :template => 'layouts/application' %>
