<div class="form_wrapper">
  <ol class="breadcrumb">
    <%= render_breadcrumbs tag: :li, separator: '' %>
  </ol>
  <%= simple_form_for [:manage, @placemark], html: {class: 'form-vertical' } do |f| %>
    <div class="form-group">
      <%= f.input :title %>
    </div>
    <div class="form-group">
      <label class="select required control-label" for="placemark_map_layer_id"> <abbr title="Обязательное для заполнения поле">*</abbr> Слой </label>
      <div class="controls">
        <select class="select required custom_select" id="placemark_map_layer_id" name="placemark[map_layer_id]">
          <option></option>
           <% @map_layers.each do |root| %>
             <option class="root_option" disabled><%= root.title %></option>
             <% root.children.each do |child| %>
               <option value="<%= child.id %>" <%= selected_option(@placemark, child) %> ><%= child.title %></option>
             <% end %>
           <% end %>
        </select>
      </div>
    </div>
    <div class="form-group">
      <%= f.input :logotype, :as => :file %>
      <%= image_tag placemark_logotype(@placemark), class: 'preview_image' %>
    </div>
    <div class="form-group">
      <%= f.input :address %>
      <%= button_tag 'Найти карте', class: "direct_geocode", type: 'button' %>
      <%= f.error :latitude %>
    </div>

    <div class="map_wrapper" data-latitude='56.488611121111' data-longitude='84.952222232222'>
      <div class="map"></div>
    </div>
    <%= f.input :latitude, as: :hidden %>
    <%= f.input :longitude, as: :hidden %>

    <%= f.submit 'Сохранить', class: "pull-right" %>
  <% end %>
</div>
