<div class="form_wrapper">
  <ol class="breadcrumb">
    <%= render_breadcrumbs tag: :li, separator: '' %>
  </ol>
  <%= simple_form_for [:manage, @placemark], html: {class: 'form-vertical' } do |f| %>
    <div class="form-group">
      <%= f.input :title %>
    </div>
    <div class="form-group">
      <label class="select required control-label" for="placemark_map_layer_id"> <abbr title="Обязательное для заполнения поле">*</abbr><%= I18n.t('simple_form.labels.placemark.map_layer') %></label>
      <div class="controls">
        <select class="select required custom_select" id="placemark_map_layer_id" name="placemark[map_layer_id]">
          <%= custom_map_layer_select_options(@placemark) %>
        </select>
        <%= f.error :map_layer_id %>
      </div>
    </div>
    <div class="form-group">
      <%= f.input :logotype, :as => :file %>
      <%= image_tag placemark_logotype(@placemark), class: 'preview_image' %>
    </div>
    <div class="form-group">
      <%= label_tag "Адрес" %>
      <%= text_field_tag :placemark_address, nil, placeholder: "Адрес" %>
      <%= button_tag 'Найти карте', class: "direct_geocode", type: 'button' %>
      <%= f.error :address %>
    </div>

    <div class="map_wrapper" data-latitude='58.62889684478054' data-longitude='82.06246307966687'>
      <div class="map"></div>
    </div>
    <div class="addresses_wrapper">
      <% @placemark.addresses.each do |address|  %>
        <div class="coords">
          <%= hidden_field_tag 'placemark[address][latitude][]', address.latitude, class: "latitude" %>
          <%= hidden_field_tag 'placemark[address][longitude][]', address.longitude, class: "longitude" %>
        </div>
      <% end %>
    </div>
    <%= f.submit 'Сохранить', class: "pull-right" %>
  <% end %>
</div>
