<% content_for :content do %>
  <div class='content_wrapper index row'>

    <div class='content_nav noindex col-xs-12 visible-xs'>
      <%= content_tag :div, render("regions/#{@content_navigation.type.underscore}", :object => @content_navigation.content), :class => 'navigation' if @content_navigation %>
      <%= content_tag :div, yield(:more_like_this), :class => 'more_like_this' if content_for?(:more_like_this) %>
    </div>

    <div class="content_side col-lg-10 col-md-9 col-sm-8 col-xs-12 map_page_wrapper">

      <div class='header row'>
        <div class="header_wrapper col-lg-6 col-md-6 col-sm-5 col-xs-12">
          <%= content_tag :h1, 'Объекты', :class => 'pull-left' %>
        </div>
      </div>

      <div class="row hidden-xs hidden-sm">
        <div class="col-lg-4 layers col-md-4">
          <ul class='layers_list'>
            <% @map_layers.each do |layer| %>
              <li class="<%= layer.slug %> <%= highlight_layer(layer) %> <%= opened_children_list?(layer) ? 'show_children' : '' %>">
                <%= link_to layer.title, map_layers_path(:map_layer => layer.slug) %>
                <% if layer.children.present? %>
                  <span class="glyphicon js-toggle-layers <%= opened_children_list?(layer) ? 'glyphicon-chevron-up' : 'glyphicon-chevron-down' %>" aria-hidden="true"></span>
                <% end %>
                <ul>
                  <% layer.children.each do |child| %>
                    <li class="<%= child.slug %> <%= highlight_layer(child) %>">
                      <%= link_to child.title, map_layers_path(:map_layer => child.slug) %>
                    </li>
                  <% end %>
                </ul>
              </li>
            <% end %>
          </ul>
        </div>

        <div class="map_wrapper col-lg-8 col-md-8" data-latitude='58.62889684478054' data-longitude='82.06246307966687'>
          <div class="map"></div>
          <p>
            Для уточнения места расположения объекта увеличьте масштаб карты
          </p>
        </div>
      </div>

      <div class="row placemark_list">
        <table class="table table-striped table-hover visible-xs visible-sm">
          <% @placemarks.each do |key, value| %>
            <tr>
              <td colspan="2" class="layer_header"><%= key %></td>
            </tr>
            <% value.each do |placemark| %>
              <% placemark.addresses.each_with_index do |address, index| %>
                <tr class="placemark_list_item <%= index !=0 ? 'hidden' : '' %>" data-latitude=<%= address.latitude %> data-longitude=<%= address.longitude %> data-icon=<%= layer_icon(placemark.map_layer) %> data-title="<%= placemark.title %>" data-description="<%= placemark.description %>" data-logotype=<%= placemark_logotype(placemark) %>>
                  <td>
                    <%= image_tag layer_icon(placemark.map_layer) %>
                  </td>
                  <td>
                    <%= placemark.title %>
                  </td>
                </tr>
              <% end %>
            <% end %>
          <% end %>
        </table>
      </div>

    </div>

    <div class='content_nav noindex col-lg-2 col-md-3 col-sm-4 hidden-xs'>

      <%= content_tag :div, render("regions/#{@content_navigation.type.underscore}", :object => @content_navigation.content), :class => 'navigation' if @content_navigation %>
      <%= content_tag :div, yield(:more_like_this), :class => 'more_like_this' if content_for?(:more_like_this) %>

    </div>

  </div>
<% end %>
