<div class='belief_show'>
  <div class="header <%= belief_color %>">
    <% if object.thumbnail %>
      <div class='image'>
        <%= image_tag_for(object.thumbnail) %>
        <div class='stub'></div>
      </div>
    <% end %>
    <div class="annotation">
      <%= raw object.annotation %>
      <p class='date'>
        <%= l DateTime.parse(object.since), :format => '%d %B %Y' %>
        <span class='time'>
          <%= l DateTime.parse(object.since), :format => '%H:%M' %>
        </span>
      </p>
    </div>
  </div>
  <div class='content'>
    <p><%= raw object.title %></p>
    <%= raw object.body %>
    <% unless object.source.blank? %>
      <div class='source'>
        <b>Источник:</b>
        <% unless object.source_link.blank? %>
          <%= link_to object.source, object.source_link, :rel => :nofollow, :target => '_blank' %>
        <% else %>
          <%= object.source %>
        <% end %>
      </div>
    <% end %>
  </div>
  <%= render 'commons/social_links' %>
  <%= render 'commons/disqus' %>
</div>

<% content_for :more_like_this do %>
  <ul class='beliefs'>
    <% object.more_like_this.each do | interview | %>
      <li>
        <div class="speaker">
          <% if interview.thumbnail %>
            <div class='image'>
              <%= link_to image_tag_for(interview.thumbnail), interview.link %>
            </div>
          <% end %>
          <div class="name">
            <%= raw interview.annotation %>
            <p class='date'>
              <%= l DateTime.parse(interview.since), :format => '%d %B %Y' %>
            </p>
          </div>
        </div>
        <div class="title">
          <%= link_to interview.title, interview.link %>
        </div>
      </li>
    <% end %>
  </ul>
<% end unless object.more_like_this.blank? %>
