<% raise ActionController::RoutingError.new('Not Found') if object.blank? %>

<div class='belief_show'>
  <div class="header <%= belief_color %>">
    <% if object.images.any? %>
      <div class='image'>
        <%= image_tag_for(object.images.first.thumbnail) %>
        <div class='stub'></div>
      </div>
    <% end %>
    <div class="annotation">
      <%= raw object.annotation %>
    </div>
  </div>
  <div class='content'>
    <p><%= raw object.title %></p>
    <%= raw object.body %>
    <%= render :partial => 'commons/source_link', :locals => { :object => object } %>
  </div>

  <%= render 'commons/social_links' %>
</div>

<% content_for :more_like_this do %>
  <ul class='beliefs'>
    <% object.more_like_this.each do | interview | %>
      <li>
        <div class="speaker">
          <% if interview.images.any? %>
            <div class='image'>
              <%= link_to image_tag_for(interview.images.first.thumbnail), interview.link %>
            </div>
          <% end %>
          <div class="name">
            <%= raw interview.annotation %>
          </div>
        </div>
        <div class="title">
          <%= link_to interview.title, interview.link %>
        </div>
      </li>
    <% end %>
  </ul>
<% end unless object.more_like_this.blank? %>
