<div class="beliefs">
  <ul>
  <% object.items.each do |belief| %>
    <li class="<%= cycle('blue', 'green', 'orange', :name => 'color') %> <%= cycle('odd', 'even', :name => 'parity') %>">
      <% if belief.resized_image_url %>
        <div class="image">
          <%= link_to news_image(belief.resized_image_url, belief.image_description), belief.link %>
          <div class='stub'></div>
        </div>
      <% end %>
      <div class='description'>
        <%= raw belief.annotation %>
        <p class='title'><%= link_to truncate(strip_tags(belief.title), :length => 80, :separator => ' '), belief.link %></p>
        <p class='date'>
          <%= l DateTime.parse(belief.since), :format => "%d %B %Y" %>
          <span class='time'>
            <%= l DateTime.parse(belief.since), :format => "%H:%M" %>
          </span>
        </p>
      </div>
    </li>
  <% end %>
  </ul>
</div>

<% if object.pagination %>
  <% @array = object.items %>
  <% @array = Kaminari.paginate_array(@array, :total_count => object.pagination.total_count).page(object.pagination.current_page).per(object.pagination.per_page) %>
  <%= paginate @array, :param_name => object.pagination.param_name, :outer_window => 3 %>
<% end %>
