<div class='interview_show'>
  <div class="header">
    <% if object.resized_image_url %>
      <div class='image'>
        <%= news_image object.resized_image_url, object.image_description %>
        <div class='stub'></div>
      </div>
    <% end %>
    <div class="annotation">
      <%= raw object.annotation %>
      <p class='date'>
        <%= l DateTime.parse(object.since), :format => '%d %B %Y' %>
        <span class='time'>
          <%= l DateTime.parse(object.since), :format => '%H:%M' %>
        </span>
      </p>
    </div>
  </div>
  <div class='content'>
    <%= raw object.body %>
    <% if object.source %>
      <div class='source'>
        <b>Источник:</b>
        <% if object.source_link %>
          <%= link_to object.source, object.source_link, :rel => :nofollow, :target => '_blank' %>
        <% else %>
          <%= object.source %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<% content_for :more_like_this do %>
<% end unless object.more_like_this.blank? %>
