<div class='news_list'>

  <div class='header'>
    <div class='nav'>
      <%= render "regions/#{@navigation_top.type.underscore}", :object => @navigation_top.content if @navigation_top %>
      <div class='rss'>
        <a href='#'>RSS</a>
      </div>
    </div>
    <h1<%= " class='with_arrow'" if @navigation_top %>>Список новостей</h1>
  </div>

  <div class="entries">
    <% object.items.each do |news| %>
      <div class='entry'>
        <div class='description'>
          <p class='title'><%= link_to strip_tags(news.title), news.link %></p>
          <p class='date'>
            <%= l DateTime.parse(news.updated_at), :format => "%d %B %Y" %>
            <span class='time'>
              <%= l DateTime.parse(news.updated_at), :format => "%H:%M" %>
            </span>
          </p>
          <p class='annotation'>
            <%= strip_tags news.annotation %>
          </p>
        </div>
      </div>
    <% end %>
  </div>

  <% @array = object.items %>
  <% @array = Kaminari.paginate_array(@array, :total_count => object.pagination.total_count).page(object.pagination.current_page).per(object.pagination.per_page) %>
  <%= paginate @array, :param_name => object.pagination.param_name, :outer_window => 3 %>
</div>
