<% if object.response_status == 200 %>
  <div class="entry_show">
    <p class='date'>
      <%= l DateTime.parse(object.since), :format => '%d %B %Y' %>
      <span class='time'>
        <%= l DateTime.parse(object.since), :format => '%H:%M' %>
      </span>
    </p>
    <div class='annotation'>
      <%= raw object.annotation %>
    </div>
    <% if object.resized_image_url %>
      <div class='image'>
        <%= news_image object.resized_image_url, object.image_description %>
        <%= content_tag :p, object.image_description if object.image_description %>
      </div>
    <% end %>
    <%= raw object.body %>
    <% if object.source %>
      <div class='source'>
        <b>Источник:</b>
        <% if object.source_link %>
          <%= link_to object.source, object.source_link, :rel => :nofollow %>
        <% else %>
          <%= object.source %>
        <% end %>
      </div>
    <% end %>
  </div>
<% else %>
  <%= t("errors.news_item_part.#{object.response_status}") %>
<% end %>

<% content_for :more_like_this do %>
  <ul>
    <% object.more_like_this.each do | entry | %>
      <li>
        <% if entry.resized_image_url %>
          <div class='image'>
            <%= link_to news_image(entry.resized_image_url, entry.image_description), entry.link %>
          </div>
        <% end %>
        <div class="title">
          <%= link_to entry.title, entry.link %>
        </div>
        <div class='date'>
          <%= l DateTime.parse(entry.since), :format => '%d %B %Y' %>
          <span class='time'>
            <%= l DateTime.parse(entry.since), :format => '%H:%M' %>
          </span>
        </div>
      </li>
    <% end %>
  </ul>
<% end if object.more_like_this %>
