<div class="entries">
  <% object.items.each do |news| %>
    <div class='entry'>
      <% if news.images.any? %>
        <div class="image">
          <%= link_to image_tag_for(news.images.first.thumbnail), news.link %>
        </div>
      <% end %>
      <div class='description'>
        <div class='title'><%= link_to strip_tags(news.title), news.link %></div>
        <div class='date'>
          <%= l Date.parse(news.since), :format => :custom %>
          <span class='time'>
            <%= l Time.parse(news.since), :format => :custom %>
          </span>
        </div>
        <div class='annotation'>
          <%= raw news.annotation %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<% if object.pagination %>
  <% @array = object.items %>
  <% @array = Kaminari.paginate_array(@array, :total_count => object.pagination.total_count).page(object.pagination.current_page).per(object.pagination.per_page) %>
  <%= paginate @array, :outer_window => 3 %>
<% end %>
