<% content_for :organizations_filter do %>

  <%= form_tag('/ru/innovatsionnaya-infrastruktura/innovatsionnye-kompanii/', :method => :get, :class => 'organizations_search_form') do %>
    <div class='search_field_wrapper'>
      <%= text_field_tag 'parts_params[organization_list][q]', object.query, :class => 'search_field' %>
      <%= label_tag 'parts_params_organization_list_q', 'Поиск компании' %>
      <a href='#' class='pseudo_submit'>Поиск</a>
    </div>
    <hr />
    <div class='search_status_wrapper'>
      <h5>Статус</h5>
      <p class="reset"><a href="#">Сбросить</a></p>
      <ul>
        <% object.filters['status'].each do |key, value| %>
          <li>
            <%= check_box_tag('parts_params[organization_list][status][]', key, value.checked, :id => key) %>
            <%= label_tag(key, value.value.html_safe, :class => key) %>
          </li>
        <% end %>
        <li class='hidden'><%= hidden_field_tag 'parts_params[organization_list][status][]', '_' %></li>
      </ul>
    </div>
    <hr />
    <div class='search_sphere_wrapper'>
      <h5>Направления деятельности</h5>
      <p class="reset"><a href="#">Сбросить</a></p>
      <ul>
        <% object.filters['sphere'].each do |key, value| %>
          <li>
            <%= check_box_tag('parts_params[organization_list][sphere][]', key, value.checked, :id => key) %>
            <%= label_tag(key, value.value.html_safe, :class => key) %>
          </li>
        <% end %>
        <li class='hidden'><%= hidden_field_tag 'parts_params[organization_list][sphere][]', '_' %></li>
      </ul>
    </div>
    <hr />
    <div class='search_submit'>
      <%= submit_tag 'Поиск' %>
    </div>
  <% end %>
<% end %>

<ul class='innovation_organizations_list'>
  <% object.organizations.each do |item| %>
    <li>
      <% unless item.image_url.blank? %>
        <div class="name_with_logo">
          <%= inoorganization_logo(item.image_url)  %>
          <h2><%= link_to item.title, item.link %></h2>
        </div>
      <% else %>
        <h2><%= link_to item.title, item.link %></h2>
      <% end %>
      <div class="dossier">
        <%= raw item.dossier %>
      </div>
      <div class="tags">
        <% %w[status sphere].each do |type| %>
          <% item.send(type).each do |st| %>
            <%= content_tag :span, object.filters[type][st].value.html_safe, :class => "#{type} #{st}", :title => type.eql?("status") ? object.filters[type][st].value.html_safe : nil %>
          <% end if item.send(type).any? %>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>

<% @array = object.organizations %>
<% @array = Kaminari.paginate_array(@array, :total_count => object.pagination.total_count).page(object.pagination.current_page).per(object.pagination.per_page)%>
<%= paginate @array, :outer_window => 3 %>
