<div class='well'>
  <%= link_to workplace_document_path(document) do %>
    <h2>
      <%= document.title %> от <%= I18n.l document.date_on %>
      <small><%= %(№#{document.number}) if document.number? %></small>
    </h2>

  <% end %>

  <% if document.tag_list.present? %>
    <p>
      <strong>Тэги</strong>
      <%=
        document.tag_list.map { |tag| content_tag(:span, link_to(tag, workplace_documents_path(search: { tags: [tag]  })), class: 'label label-primary') }
          .join(' ').html_safe
        %>
    </p>
  <% end %>

  <% if document.participant_list.present? %>
    <p>
      <strong>Участники</strong>
      <%=
        document.participant_list.map { |participant| content_tag(:span, link_to(participant, workplace_documents_path(search: { participants: [participant]  })),
                                                                  class: 'label label-primary') }
          .join(' ').html_safe
        %>
    </p>
  <% end %>

  <% if document.map_layers.present? %>
    <p>
      <strong>Направления</strong>
      <%=
        document.map_layers.map { |map_layer| content_tag(:span, link_to(map_layer.title, workplace_documents_path(search: { map_layers: [map_layer.id]  })),
                                                                  class: 'label label-primary') }
          .join(' ').html_safe
        %>
    </p>
  <% end %>

  <% if document.events.present? %>
    <p>
      <strong>Мероприятия дорожной карты</strong>
      <%=
        document.events.map { |event| content_tag(:span, link_to(event.id, workplace_documents_path(search: { events: [event.id]  })),
                                                                  class: 'label label-primary') }
          .join(' ').html_safe
        %>
    </p>
  <% end %>

  <% if document.placemarks.present? %>
    <p>
      <strong>Объекты дорожной карты</strong>
      <%=
        document.placemarks.map { |placemark| content_tag(:span, link_to(%(#{placemark.title} № #{placemark.filled_number}), workplace_documents_path(search: { placemarks: [placemark.id]  })),
                                                                  class: 'label label-primary') }
          .join(' ').html_safe
        %>
    </p>
  <% end %>
</div>
