<div class='container-fluid'>
  <div class='container'>
    <div class='row'>
      <div class='col-xs-12'>
        <h1><%= @document.new_record? ? 'Добавление документа' : 'Редактирование документа' %>
      </div>

      <div class='col-xs-12 form_wrapper'>
        <%= simple_nested_form_for @document, url: [:workplace, @document] do |f| %>
          <%= f.input :title %>
          <%= f.input :annotation %>
          <%= f.input :date_on %>
          <%= f.input :number %>
          <%= f.input :kind %>
          <%= f.input :tag_list, input_html: { value: @document.tag_list.sort.join(', '), class: 'js-tags' } %>
          <%= f.input :participant_list, input_html: { value: @document.participant_list.sort.join(', '), class: 'js-participants' } %>

          <%= f.association :map_layers,
            as: :grouped_select, group_method: :last,
            label_method: :title, value_method: :id,
            collection: MapLayer.order('title').from_depth(1).group_by(&:root),
            input_html: { class: 'js-chosen', multiple: true } %>

          <hr />

          <% if f.object.file.present? %>
            <p><%= link_to f.object.file_file_name, f.object.file.url %></p>
          <% end %>

          <%= f.input :file %>
          <% if @document.errors[:file_fingerprint].any? %>
            <p class='text-danger'><%= @document.errors[:file_fingerprint].join %></p>
          <% end %>

          <fieldset>
            <legend>Связанные документы</legend>
            <div class="row">
              <div class='col-xs-10 js-autocomplete-append'>
                <%= f.simple_fields_for :related_documents do |df| %>
                  <%= df.input :related_document_id, as: :hidden, input_html: { class: 'js-document-id' } %>
                  <%=
                    df.input :related_document_title,
                      input_html: {
                      value: df.object.try(:child).try(:title),
                      placeholder: 'Начните вводить название документа',
                      class: 'js-document-autocomplete',
                      data: { current: params[:id] }
                    }
                  %>

                <%= df.link_to_remove 'удалить' %>
              </div>
            </div>

            <% if df.object.errors[:related_document_id].any? %>
              <p class='text-danger'><%= df.object.errors[:related_document_id].join %></p>
            <% end %>
          <% end %>
        </fieldset>

        <p><%= f.link_to_add 'Добавить связанный документ', :related_documents %></p>

        <hr />

        <%= f.submit @document.new_record? ? 'Добавить' : 'Сохранить', class: 'btn btn-primary' %>

        <%= link_to 'Отмена', @document.new_record? ? workplace_documents_path : workplace_document_path(@document), class: 'btn btn-default' %>

        <% unless @document.new_record? %>
          <p class='pull-right'>
            <%= link_to 'Удалить', workplace_document_path(@document), method: :delete, :data => { :confirm => 'Вы уверены?' }, class: 'btn btn-warning' %>
          </p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
</div>
