<div class='container-fluid'>
  <div class='container'>
    <div class='row'>
      <div class='col-xs-12'>
        <h1><%= @document.new_record? ? 'Добавление документа' : 'Редактирование документа' %>
      </div>
      <div class='col-xs-12 form_wrapper'>
        <%= simple_form_for @document, :url => [:workplace, @document] do |f| %>
          <%= f.input :title %>
          <%= f.input :date_on %>
          <%= f.input :kind %>
          <%= f.input :tag_list, input_html: { value: @document.tag_list.sort.join(', '), class: 'js-tags' } %>
          <% unless f.object.file.blank? %>
            <p><%= link_to f.object.file_file_name, f.object.file.url %></p>
          <% end %>
          <%= f.input :file %>

          <%= f.submit 'Добавить документ' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
