<div class='container-fluid'>
  <div class='container'>
    <div class='row'>
      <div class='col-xs-12'>
        <h1>
          <%= @document.title %> от <%= I18n.l(@document.date_on) %>
          <%= "№#{@document.number}" if @document.number? %>
        </h1>
      </div>
      <div class='col-xs-12'>
        <p><%= link_to 'Изменить документ', edit_workplace_document_path(@document), :class => 'btn btn-primary' %></p>
      </div>
      <div class='col-xs-12'>
        <%= show_for @document do |d| %>
          <%= d.attribute :kind_text %>
          <%= d.attribute :tag_list %>
          <%= d.attribute :file do %>
            <%= link_to d.object.file_file_name, d.object.file.url %>
          <% end %>
          <%= d.association :related_documents do %>
            <ul>
              <% d.object.children.each do |child| %>
                <li><%= link_to child.title, workplace_document_path(child) %></li>
              <% end %>
            </ul>
          <% end %>
        <% end %>
      </div>
      <div class='col-xs-12'>
        <p><%= link_to 'Перейти к списку', workplace_documents_path, class: 'btn btn-default' %></p>
      </div>
    </div>
  </div>
</div>
