<div class='container-fluid'>
  <div class='container'>
    <div class='row'>
      <div class='col-xs-12'>
        <%= render 'parents_tree' %>
      </div>
    </div>

    <div class='row'>
      <div class='col-xs-12'>
        <div class='page-header'>
          <h1>
            <%= @document.title %> от <%= I18n.l(@document.date_on) %>
            <small>
              <%= %(№#{@document.number}) if @document.number? %>
            </small>

            <%= link_to edit_workplace_document_path(@document) do %>
              <span class='glyphicon glyphicon-pencil js-tooltip' title='Изменить'></span>
            <% end if can?(:edit, @document)%>
          </h1>
        </div>
      </div>
    </div>

    <div class='row'>
      <div class='col-xs-4'>

        <h4>Направления</h4>
        <% if @document.map_layers.present? %>
          <ul>
            <% @document.map_layers.each do |map_layer| %>
              <li>
                <%= link_to map_layer.title, workplace_documents_path(search: { map_layers: map_layer.id }) %>
              </li>
            <% end %>
          </ul>
        <% else %>
          <p>Не добавлены направления</p>
        <% end %>
      </div>

      <div class='col-xs-4'>
        <h4>Аннотация</h4>
        <p>
          <%= @document.annotation.presence || 'Нет аннотации' %>
        </p>
      </div>

      <div class='col-xs-4'>
        <h4>Тип документа</h4>
        <p><%= @document.kind_text %></p>
      </div>
    </div>

    <div class='row'>
      <div class='col-xs-4'>
        <h4>Тэги</h4>
        <ul>
          <% @document.tag_list.each do |tag| %>
            <li>
              <%= link_to tag, workplace_documents_path(search: { tags: [tag] }) %>
            </li>
          <% end %>
        </ul>
      </div>

      <div class='col-xs-4'>
        <h4>Документ</h4>
        <p>
          <%= link_to @document.file.url do %>
            <%= @document.file_file_name %>

            <span class='glyphicon glyphicon-floppy-disk js-tooltip' title='Скачать'></span>
          <% end %>
        </p>
      </div>

      <div class='col-xs-4'>
        <h4>Документы во исполнение распоряжения, поручения, протокола / ответ на письмо / предложения по вопросу</h4>
        <p>
          <% if @document.children.present? %>
            <ul>
              <% @document.children.each do |child| %>
                <li>
                  <%= link_to  [:workplace, child] do %>
                    <%= child.title %> от <%= I18n.l(child.date_on) %>
                    <small>
                      <%= %(№#{child.number}) if child.number? %>
                    </small>
                  <% end %>
                </li>
              <% end %>
            </ul>
          <% else %>
            Нет документов
          <% end %>
        </p>

      </div>

    </div>

    <div class="row">
      <div class="col-xs-12">
        <h4>Участники</h4>
        <ul>
          <% @document.participant_list.each do |participant| %>
            <li>
              <%= link_to participant, workplace_documents_path(search: { participants: [participant] }) %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class='row'>
      <div class='col-xs-12'>
        <p>
          <%= link_to 'Назад к списку', workplace_documents_path, class: 'btn btn-default' %>
        </p>
      </div>
    </div>

  </div>
</div>
