<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.1//EN' 'http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd'>
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='ru'>
  <head>
    <meta http-equiv='Content-Type' content='text/html;charset=UTF-8' />
    <title><%= raw @page_title %> | <%= strip_tags(@site_name.content.body) %></title>
    <%= stylesheet_link_tag 'application' %>
    <!--[if lt IE 8]>
    <%= stylesheet_link_tag 'ie_lower_8' %>
    <![endif]-->
    <!--[if IE 6]>
    <%= stylesheet_link_tag 'ie_6' %>
    <![endif]-->
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class='top_menu_wrapper'>
      <div class='top_menu'>
        <%= render "regions/#{@main_top_navigation.type.underscore}", :object => @main_top_navigation.content if @main_top_navigation %>
        <%= render "regions/#{@main_bottom_navigation.type.underscore}", :object => @main_bottom_navigation.content if @main_bottom_navigation %>
      </div>
    </div>

    <div class='header'>
      <div class='logotype'>
        <div class='symbol'>
          <a href='#'>ИНО Томск`2020</a>
        </div>
        <div class='site_name'>
          <h1><a href='#'>ИНО<span class='medium'>Томск`2020</a></h1>
          <p class='shift'>Федеральный центр образования,</p>
          <p>исследований и разработок</p>
        </div>
      </div>
      <div class='targets'>
        <div class='left'>
          <a href='#'>назад</a>
        </div>
        <div class="container">
          <ul>
            <li>
              <div class="counter">1</div>
              <div class="text">
                <h1>Цель</h1>
                <p>Создание мощного Центра образования, исследований и разработок на образовательной, научно-исследовательской и производственной базе организаций в Томской области</p>
              </div>
            </li>
            <li>
              <div class="counter">2</div>
              <div class="text">
                <h1>Научно-образовательный парк</h1>
                <p>Современный университетский кампус.<br /> Новые учебные корпуса,<br /> студенческие общежития и научные центры</p>
              </div>
            </li>
            <li>
              <div class="counter">3</div>
              <div class="text">
                <h1>ОЭЗ &laquo;Томск&raquo;</h1>
                <p>Коммерциализация разработок. Новые высокотехнологичные производства. Высокооплачиваемые рабочие места для высококвалифицированных кадров</p>
              </div>
            </li>
            <li>
              <div class="counter">4</div>
              <div class="text">
                <h1>Транспортная доступность</h1>
                <p>Международный аэропорт Томск. Скоростная автодорога Томск – Новосибирск. Вторые железнодорожные пути из Томска на Транссиб</p>
              </div>
            </li>
            <li>
              <div class="counter">5</div>
              <div class="text">
                <h1>Город</h1>
                <p>Городская дорожная сеть. Жилой микрорайон для инноваторов. Водный комплекс с бассейном олимпийского класса. Парки для отдыха и занятий спортом</p>
              </div>
            </li>
            <li>
              <div class="counter">6</div>
              <div class="text">
                <h1>Развитие</h1>
                <p>Трансформация 15 разработок в производства полного цикла. Повышение качества жизни и рост доходов населения. Интеграция в глобальное инновационное пространство</p>
              </div>
            </li>
            <li>
              <div class="counter">7</div>
              <div class="text">
                <h1>Результат</h1>
                <p>Уникальная предпринимательская инновационная среда. Инновационный и технологический прорыв по семи приоритетным направлениям</p>
              </div>
            </li>
          </ul>
        </div>
        <div class='right'>
          <a href='#'>вперед</a>
        </div>
      </div>
    </div>

    <div class='news_section'>
      <ul class='nav'>
        <li><a href='#'>В мире</a></li>
        <li><a href='#'>В России</a></li>
        <li class='selected'><a href='#'>В Томске</a></li>
      </ul>
      <h1><a href='#'>Новости</a></h1>
      <div class='news_container'>
        <div class='inner_wrapper'>
          <div class='picture'>
            <div class='img'><img src='/assets/fake/caltonhilledinburgh.jpg' alt='' width='459' height='344' /></div>
            <div class='description'>
              <p class='text'>Структурный голод столь же важен для жизни, как и архетип понимает возрастной экстремум функции, откуда следует доказываемое равенство.</p>
              <p class='date'>11 ноября 2011</p>
            </div>
          </div>
          <div class='news_list'>
            <ul>
              <li>
                <p class='title'><a href='#'>Власти Томской области рассчитывают в сентябре определиться с повесткой XV форума INNOVUS</a></p>
                <p class='date'>16 января 2012</p>
              </li>
              <li>
                <p class='title'><a href='#'>Аномия решительно упорядочивает действительный контрпример, явно демонстрируя всю чушь вышесказанного</a></p>
                <p class='date'>16 января 2012</p>
              </li>
              <li>
                <p class='title'><a href='#'>Конкурс на выделение грантов по проекту &laquo;Инновационное внедрение &ndash; школа успеха молодёжи&raquo;</a></p>
                <p class='date'>16 января 2012</p>
              </li>
              <li>
                <p class='title'><a href='#'>Векторное поле осознаёт интеракционизм, что несомненно приведет нас к истине</a></p>
                <p class='date'>13 января 2012</p>
              </li>
            </ul>
            <p class='all_news'><a href='#'>Все новости</a></p>
          </div>
        </div>
      </div>
    </div>

    <%= yield(:content) %>

    <div class='interviews_section'>
      <h1><a href='#'>Интервью</a></h1>
      <div class='two_column'>
        <div class='person left'>
          <div class='photo'>
            <a href='#'><img src='/assets/fake/prohorov.jpg' alt='' width='150' height='150' /></a>
          </div>
          <div class='interview'>
            <h1><a href='#'>Очевидное невероятное</a></h1>
            <div class='annotation'>
              <p>Миллиардер Михаил Прохоров, заявивший о намерении баллотироваться в президенты РФ, <a href='http://mdp2012.ru/program'>опубликовал в пятницу на своем сайте предвыборную программу</a>.</p>
              <p>Ранее часть своих предложений он уже озвучил в тезисах к программе, опубликованных 29 декабря 2011 года.</p>
            </div>
            <div class='date'>20 января 2012</div>
          </div>
        </div>
        <div class='person right'>
          <div class='photo'>
            <a href='#'><img src='/assets/fake/yavlinskiy.jpg' alt='' width='150' height='150' /></a>
          </div>
          <div class='interview'>
            <h1><a href='#'>Ситуация с подписями</a></h1>
            <div class='annotation'>
              <p>Один из лидеров партии &laquo;Яблоко&raquo; Григорий Явлинский в своем блоге в ЖЖ объяснил &laquo;что произошло с подписями&raquo;, из-за которых ЦИК РФ отказал ему в регистрации в качестве президента РФ.</p>
            </div>
            <div class='date'>30 января 2012</div>
          </div>
        </div>
      </div>
    </div>

    <div class='belief_section'>
      <h1><a href='#'>Точки зрения</a></h1>
      <div class='two_column'>
        <div class='belief'>
          <div class='photo first'>
            <img src='/assets/fake/medvedev.jpg' alt='' width='150' height='150' />
            <span class='triangle'></span>
          </div>
          <div class='description first'>
            <p class='annotation'><a href='#'>Представим себе подобную ситуацию где-нибудь на Рублёво-Успенском шоссе...</a></p>
            <p class='date'>1 апреля</p>
          </div>
          <div class='photo second'>
            <img src='/assets/fake/chubays.jpg' alt='' width='150' height='150' />
            <span class='triangle'></span>
          </div>
          <div class='description second'>
            <p class='annotation'><a href='#'>Давайте, ребята, работайте шибче, Россия в опасности! Если что, так вот, а приглядишься и нате...</a></p>
            <p class='date'>15 марта</p>
          </div>
          <div class='photo third'>
            <img src='/assets/fake/kress.jpg' alt='' width='150' height='150' />
            <span class='triangle'></span>
          </div>
          <div class='description third'>
            <p class='annotation'><a href='#'>Я бы не рекомендовал впечатлительным ходить на тайные встречи чекистов. Опасно это для психики...</a></p>
            <p class='date'>21 марта</p>
          </div>
        </div>
        <div class='mediateka'>
          <h2><a href='#'>Медиатека</a></h2>
          <div class='two_column'>
            <div class='video'>
              <div class='thumbnail'>
                <a href='#'><img src='/assets/fake/video.jpg' alt='' width='160' height='120' /></a>
              </div>
              <p class='title'>Сколково: новый век</p>
              <p class='date'>10 августа, ТВ2, Часпик</p>
              <p class='more'><a href='#'>Всё видео</a></p>
            </div>
            <div class='photo'>
              <div class='thumbnail'>
                <a href='#'><img src='/assets/fake/photo.jpg' alt='' width='176' height='116'/></a>
              </div>
              <p class='title'>Презентация &laquo;Машинстройкомплекта&raquo; в Томской области</p>
              <p class='date'>23 октября</p>
              <p class='more'><a href='#'>Всё фото</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class='calendar_section'>
      <div class='calendar'>
        <h1><a href='#'>Календарь мероприятий</a></h1>
        <div class='left'>
          <a href='#'>назад</a>
        </div>
        <div class='right'>
          <a href='#'>вперёд</a>
        </div>
        <div class='timeline'>
          <div class='event'>
            <p class='day'>14 августа - 15 сентября</p>
            <p class='year'>2012г.</p>
            <p class='separator'>&nbsp;</p>
            <p class='title'>
              <a href='#'>Молодёжный форум You LEAD</a>
            </p>
          </div>
          <div class='event'>
            <p class='day'>14-15 августа</p>
            <p class='year'>2012г.</p>
            <p class='separator'>&nbsp;</p>
            <p class='title'>
              <a href='#'>Собрание акционеров Восток Газпром</a>
            </p>
          </div>
          <div class='event'>
            <p class='day'>14-15 августа</p>
            <p class='year'>2012г.</p>
            <p class='separator'>&nbsp;</p>
            <p class='title'>
              <a href='#'>В Томске пройдёт Форум бизнес-лидеров</a>
            </p>
          </div>
          <div class='event'>
            <p class='day'>14-15 августа</p>
            <p class='year'>2012г.</p>
            <p class='separator'>&nbsp;</p>
            <p class='title'>
              <a href='#'>Всероссийский студенческий форум</a>
            </p>
          </div>
        </div>
      </div>
      <div class='voting'>
        <h1>Опрос</h1>
        <p class='question'>Каким на Ваш взгляд должен быть ИНО Томск 2020г.?</p>
        <%= semantic_form_for :answers do | form | %>
          <%= form.inputs do %>
            <%= form.input :ansver, :as => :radio, :label => false,
                           :collection => {
                             'Как силиконовая долина' => 'uno',
                             'Ничего не изменится' => 'dos',
                             'Затрудняюсь я с вами тут' => 'tres' } %>
          <% end %>
          <%= form.buttons do %>
            <%= form.commit_button :label => 'Голосовать' %>
          <% end %>
        <% end %>
        <p class='link'><a href='#'>Результаты</a></p>
        <p class='link'><a href='#'>Голосование по другим вопросам</a></p>
      </div>
    </div>

    <div class='banners_section'>
      <p><a href='#'><img src='/assets/fake/adv_1.jpg' alt='' width='296' height='84' /></a></p>
      <p><a href='#'><img src='/assets/fake/adv_2.jpg' alt='' width='296' height='84' /></a></p>
      <p><a href='#'><img src='/assets/fake/adv_3.jpg' alt='' width='296' height='84' /></a></p>
      <p class='break'>&nbsp;</p>
    </div>

    <div class='footer_wrapper'>
      <div class='footer'>
        <div class='column logotype'>
          <p>ИНО Томск`2020</p>
        </div>
        <div class='column address'>
          <p>&laquo;ИНО Томск`2020&raquo;</p>
          <p>Россия, 634011, Томск, ул.&nbsp;Первомайская, 15, офис 201</p>
        </div>
        <div class='column contacts'>
          <p>Тел. (3822) <span class='bolder'>46 47 48</span></p>
          <p>email: <a href='mailto:'>inso@inotomsk.ru</a></p>
          <div class='social_links'>
            <a class='youtube' href='#'>You tube</a>
            <a class='livejournal' href='#'>Live journal</a>
            <a class='vkontakte' href='#'>В Контакте</a>
            <a class='twitter' href='#'>Twitter</a>
            <a class='facebook' href='#'>Facebook</a>
          </div>
        </div>
        <div class='column developers'>
          <p>Разработка: <a href='http://openteam.ru/'>OpenTeam</a></p>
          <p>Дизайн: <a href='http://rosbd.com/'>РосБизнесДизайн</a></p>
        </div>
      </div>
    </div>

  </body>
</html>
