<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.1//EN' 'http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd'>
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='ru'>
  <head>
    <meta http-equiv='Content-Type' content='text/html;charset=UTF-8' />
    <title><%= strip_tags(@page_title) %> | <%= strip_tags(@site_name.content.body) %></title>
    <%= yield :head_rss_link %>
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
    <!--[if lt IE 8]>
    <%= stylesheet_link_tag    'ie_lower_8' %>
    <%= stylesheet_link_tag    'stop_ie/application' %>
    <%= javascript_include_tag 'stop_ie/application' %>
    <![endif]-->
    <!--[if IE 6]>
    <%= stylesheet_link_tag    'ie_6' %>
    <![endif]-->
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class='top_menu_wrapper'>
      <div class='top_menu'>
        <%= render :partial => "regions/main_navigation", :locals => { :object => @main_top_navigation.content, :klass => 'first' } if @main_top_navigation %>
        <%= render :partial => "regions/main_navigation", :locals => { :object => @main_bottom_navigation.content, :klass => 'second' } if @main_bottom_navigation %>
      </div>
    </div>

    <div class='header'>
      <div class='logotype'>
        <div class='symbol'>
          <a href='/'>ИНО Томск`2020</a>
        </div>
        <div class='site_name'>
          <h1><a href='/'>ИНО<span class='medium'>Томск`2020</a></h1>
          <p class='shift'>Федеральный центр образования,</p>
          <p>исследований и разработок</p>
        </div>
      </div>
      <div class='targets'>
        <div class='left'>
          <a href='#'>назад</a>
        </div>
        <div class="container">
          <ul>
            <li>
              <div class="counter">1</div>
              <div class="text">
                <h1>Цель</h1>
                <p>Создание мощного Центра образования, исследований и разработок на образовательной, научно-исследовательской и производственной базе организаций в Томской области</p>
              </div>
            </li>
            <li>
              <div class="counter">2</div>
              <div class="text">
                <h1>Научно-образовательный парк</h1>
                <p>Современный университетский кампус.<br /> Новые учебные корпуса,<br /> студенческие общежития и научные центры</p>
              </div>
            </li>
            <li>
              <div class="counter">3</div>
              <div class="text">
                <h1>ОЭЗ &laquo;Томск&raquo;</h1>
                <p>Коммерциализация разработок. Новые высокотехнологичные производства. Высокооплачиваемые рабочие места для высококвалифицированных кадров</p>
              </div>
            </li>
            <li>
              <div class="counter">4</div>
              <div class="text">
                <h1>Транспортная доступность</h1>
                <p>Международный аэропорт Томск. Скоростная автодорога Томск – Новосибирск. Вторые железнодорожные пути из Томска на Транссиб</p>
              </div>
            </li>
            <li>
              <div class="counter">5</div>
              <div class="text">
                <h1>Город</h1>
                <p>Городская дорожная сеть. Жилой микрорайон для инноваторов. Водный комплекс с бассейном олимпийского класса. Парки для отдыха и занятий спортом</p>
              </div>
            </li>
            <li>
              <div class="counter">6</div>
              <div class="text">
                <h1>Развитие</h1>
                <p>Трансформация 15 разработок в производства полного цикла. Повышение качества жизни и рост доходов населения. Интеграция в глобальное инновационное пространство</p>
              </div>
            </li>
            <li>
              <div class="counter">7</div>
              <div class="text">
                <h1>Результат</h1>
                <p>Уникальная предпринимательская инновационная среда. Инновационный и технологический прорыв по семи приоритетным направлениям</p>
              </div>
            </li>
          </ul>
        </div>
        <div class='right'>
          <a href='#'>вперед</a>
        </div>
      </div>
    </div>

    <%= yield(:content) %>

    <div class='banners_section'>
      <p><a href='#'><img src='/assets/fake/adv_1.jpg' alt='' width='296' height='84' /></a></p>
      <p><a href='#'><img src='/assets/fake/adv_2.jpg' alt='' width='296' height='84' /></a></p>
      <p><a href='#'><img src='/assets/fake/adv_3.jpg' alt='' width='296' height='84' /></a></p>
      <p class='break'>&nbsp;</p>
    </div>

    <div class='footer_wrapper'>
      <div class='footer'>
        <div class='column logotype'>
          <p>ИНО Томск`2020</p>
        </div>
        <div class='column address'>
          <p>&laquo;ИНО Томск`2020&raquo;</p>
          <p>Россия, 634011, Томск, ул.&nbsp;Первомайская, 15, офис 201</p>
        </div>
        <div class='column contacts'>
          <p>Тел. (3822) <span class='bolder'>46 47 48</span></p>
          <p>email: <a href='mailto:'>inso@inotomsk.ru</a></p>
          <div class='social_links'>
            <a class='youtube' href='#'>You tube</a>
            <a class='livejournal' href='#'>Live journal</a>
            <a class='vkontakte' href='#'>В Контакте</a>
            <a class='twitter' href='#'>Twitter</a>
            <a class='facebook' href='#'>Facebook</a>
          </div>
        </div>
        <div class='column developers'>
          <p>Разработка: <a href='http://openteam.ru/'>OpenTeam</a></p>
          <p>Дизайн: <a href='http://rosbd.com/'>РосБизнесДизайн</a></p>
        </div>
      </div>
    </div>

  </body>
</html>
