<!DOCTYPE HTML>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="UTF-8">
    <title><%= strip_tags(@page_title) %> | <%= strip_tags(@site_name.content.body) %></title>
    <%= yield :head_rss_link %>
    <%= favicon_link_tag %>
    <%= canonical_url.html_safe %>
    <meta name='yandex-verification' content='6e7c8aa47cfa8b4f' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag('//api-maps.yandex.ru/2.1/?lang=ru_RU') %>
    <!--[if lt IE 8]>
    <%= stylesheet_link_tag    'ie_lower_8' %>
    <%= stylesheet_link_tag    'stop_ie/application' %>
    <%= javascript_include_tag 'stop_ie/application' %>
    <![endif]-->
    <!--[if IE 6]>
    <%= stylesheet_link_tag    'ie_6' %>
    <![endif]-->
    <%= csrf_meta_tags %>
    <% if entry_date %>
      <meta name="entry_date" content="<%= entry_date %>">
    <% end %>
    <meta name='keywords' content='<%= @page_meta.try(:keywords).presence || yield(:meta_keywords) %>' />
    <meta name='description' content='<%= @page_meta.try(:description).presence || yield(:meta_description) %>' />
  </head>
  <body>
    <% if current_user %>
      <div class='container-fluid'>
        <div class='row'>
          <div class='col-xs-12'>
            <div class='pull-right'>
              <%= render "devise/shared/current_user_menu" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    </div>

    <div class='page_wrapper'>

      <nav class="navbar navbar-default">
        <div class='top_menu_wrapper noindex container-fluid'>
          <div class='top_menu container <%= I18n.locale %>'>

            <div class="navbar-header visible-xs">
              <a class="navbar-brand" href="/">
                <%= image_tag "brand_img_#{locale}.png", :alt => 'Инотомск', :size => '135x45' %>
              </a>

              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <%= render :partial => "regions/main_navigation", :locals => { :object => @main_top_navigation.content, :klass => 'first' } if @main_top_navigation %>
            </div>
          </div>
        </div>
      </nav>

      <div class="container main_wrapper">

        <div class='header noindex row'>
          <div class='logotype col-lg-2 col-md-2 col-sm-4 col-xs-12 hidden-xs'>
            <%= link_to locale == :ru ? '/' : "/#{locale}", :rel => :nofollow do %>
              <%= image_tag "logotype_#{locale}.png", :class => 'img-responsive', :alt => 'ИНОТомск', :title => I18n.t('to_main_page') %>
              <h4><%= I18n.t('innovative_center') %></h4>
            <% end %>
          </div>

          <div class="col-lg-4 bottom-navigation col-md-4 col-sm-8 col-xs-12">
            <div class="search-languages-wrapper visible-sm">
              <%= languages('pull-left') %>

              <form action="/<%= I18n.locale %>/search" class='search-form pull-left' role='search'>
                <div class="form-group">
                  <input type="text" class='input-field' name="parts_params[search][q]" placeholder="<%= I18n.t('search_placeholder') %>" value='<%= params[:parts_params].present? && params[:parts_params][:search].present? ? params[:parts_params][:search][:q] : nil %>'>
                </div>
                <input type="submit" value="искать" class='search-button' title='<%= I18n.t('search_button_title') %>'>
              </form>
            </div>
            <%= render :partial => "regions/main_navigation", :locals => { :object => @main_bottom_navigation.content, :klass => 'second'  } if @main_bottom_navigation %>
          </div>

          <div class='col-lg-6 col-md-6 col-sm-12 col-xs-12'>
            <div class="search-languages-wrapper hidden-sm">
              <form action="/<%= I18n.locale %>/search" class='search-form pull-right' role='search'>
                <div class="form-group">
                  <input placeholder='<%= I18n.t('search_placeholder') %>' type="text" class='input-field' name="parts_params[search][q]" value='<%= params[:parts_params].present? && params[:parts_params][:search].present? ? params[:parts_params][:search][:q] : nil %>'>
                </div>
                <input type="submit" value="искать" class='search-button' title='<%= I18n.t('search_button_title') %>'>
              </form>

              <%= languages %>
            </div>

            <% unless @targets.blank? %>
              <noindex>
              <div class="targets pull-right">
                <div class='left'>
                  <a href='#' title="<%= I18n.t('slider.prev_title') %>"><%= t('views.pagination.previous') %></a>
                </div>
                <div class='targets_content'>
                  <%= render_partial_for_region(@targets) %>
                </div>
                <div class='right'>
                  <a href='#' title="<%= I18n.t('slider.next_title') %>"><%= t('views.pagination.next') %></a>
                </div>
              </div>
              </noindex>
            <% end %>
          </div>
        </div>

        <%= yield(:content) %>
      </div>

    </div>

    <div class='footer_wrapper noindex container-fluid'>
      <div class='footer container'>
        <div class="row">

          <div class='column logotype_<%= I18n.locale %> col-sm-2 hidden-xs'>
            <a href='/'>ИНО Томск</a>, <%= Date.today.year %>
          </div>
          <noindex>
          <div class="col-sm-5 col-xs-7">
            <% if locale.eql?(:ru) %>
             Сайт о Концепции создания в Томской области инновационного территориального центра "ИНО Томск", одобренной распоряжением Правительства Российской Федерации от 14 января 2015 года № 22-р
           <% end %>
         </div>
         </noindex>
         <div class='column col-sm-5 col-xs-5'>
            <noindex>
            <div class="contacts">
              <p>email: <span class='nobr'><%= mail_to 'mail@ino-tomsk.ru' %></span></p>
              <div class='social_links pull-left'>
                <a class='twitter' href='https://twitter.com/INOTomsk2020' target='_blank' title="<%= I18n.t('twitter_title') %>" rel="nofollow">Twitter</a>
                <a class='vkontakte' href='https://vk.com/inotomsk' target='_blank' title="<%= I18n.t('vk_title') %>" rel="nofollow">В Контакте</a>
                <a class='facebook' href='https://www.facebook.com/INOTomsk2020' target='_blank' title="<%= I18n.t('fb_title') %>" rel="nofollow">Facebook</a>
              </div>
            </div>
            </noindex>
            <div class="developers">
              <p class='pull-right'><%= t "development" %>: <%= mail_to 'developers@openteam.ru', 'OpenTeam' %></p>
              <%= render :partial => 'commons/yandex_metrika' %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <% if Rails.env.development? %>
      <div class='development-json'>
        <%= link_to 'JSON', @link_to_json, :target => '_blank' %>
      </div>
      <div class='development-resolution'>
      </div>
    <% end %>

  </body>
</html>
