<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.1//EN' 'http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd'>
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='ru'>
  <head>
    <meta http-equiv='Content-Type' content='text/html;charset=UTF-8' />
    <title><%= raw @page_title %> | <%= strip_tags(@site_name.content.body) %></title>
    <%= stylesheet_link_tag 'application' %>
    <!--[if lt IE 8]>
    <%= stylesheet_link_tag 'ie_lower_8' %>
    <![endif]-->
    <!--[if IE 6]>
    <%= stylesheet_link_tag 'ie_6' %>
    <![endif]-->
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class='top_menu_wrapper'>
      <div class='top_menu'>
        <ul>
          <li><a href='#'>О проекте</a></li>
          <li class='separator'>&nbsp;</li>
          <li><a href='#'>Точки зрения</a></li>
          <li class='separator'>&nbsp;</li>
          <li><a href='#'>Аналитические материалы</a></li>
          <li class='separator'>&nbsp;</li>
          <li><a href='#'>Инновации для населения</a></li>
          <li class='break'>&nbsp;</li>
        </ul>
        <ul>
          <li><a href='#'>Институты инновационной инфраструктуры</a></li>
          <li class='separator'>&nbsp;</li>
          <li><a href='#'>Инфраструктура Томска</a></li>
          <li class='separator'>&nbsp;</li>
          <li><a href='#'>Пресс-центр</a></li>
          <li class='break'>&nbsp;</li>
        </ul>
      </div>
    </div>
    <div class='header'>
      <div class='logotype'>
        <div class='symbol'>
          <a href='#'>ИНО Томск`2020</a>
        </div>
        <div class='site_name'>
          <h1><a href='#'>ИНО<span class='medium'>Томск`2020</a></h1>
          <p class='shift'>Федеральный центр образования,</p>
          <p>исследований и разработок</p>
        </div>
      </div>
      <div class='targets'>
        <h1>Задачи и цели проекта:</h1>
        <div class='larch'>
          <div class='left'>
            <a href='#'>назад</a>
          </div>
          <div class='counter'>3</div>
          <div class='text'>Главная цель проекта &laquo;ИНО Томск`2020&raquo; &mdash; это концентрация интеллектуальных ресурсовна семи генеральных направлениях.</div>
          <div class='right'>
            <a href='#'>вперед</a>
          </div>
        </div>
      </div>
    </div>
    <div class="news_section">
      <ul class="nav">
        <li><a href="#">В мире</a></li>
        <li><a href="#">В России</a></li>
        <li class='selected'><a href="#">В Томске</a></li>
      </ul>
      <h1><a href='#'>Новости</a></h1>
      <div class="news_container">
        <p>Аномия решительно упорядочивает действительный контрпример, явно демонстрируя всю чушь вышесказанного.</p>
        <p>Структурный голод столь же важен для жизни, как и архетип понимает возрастной экстремум функции, откуда следует доказываемое равенство.</p>
        <p>Векторное поле осознаёт интеракционизм, что несомненно приведет нас к истине.</p>
      </div>
    </div>
    <%= yield(:content) %>
    <div class='footer_wrapper'>
      <div class='footer'>
        <p><a href='http://www.fontsquirrel.com/fontface/generator'>@font-face generator</a></p>
      </div>
    </div>
  </body>
</html>
