<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.1//EN' 'http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd'>
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='ru'>
  <head>
    <meta http-equiv='Content-Type' content='text/html;charset=UTF-8' />
    <title><%= raw @page_title %> | <%= strip_tags(@site_name.content.body) %></title>
    <%= stylesheet_link_tag 'application' %>
    <!--[if lte IE 8]>
    <%= stylesheet_link_tag 'ie8_and_lower' %>
    <![endif]-->
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= yield(:content) %>
  </body>
</html>
